@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <input type="text" id="rateInput" class="form-control custom-input" placeholder="Currency Code...">
            </div>
            <div class="col-md-3">
                <button id="searchBtn" class="btn custom-btn">Search</button>
            </div>
        </div>
        <div class="row col-md-12 mt-2">
            <canvas id="chart"></canvas>

        </div>
    </div>
</div>

